:root {
  --white-100: hsl(0, 0%, 100%);
  --white-200: hsl(0, 0%, 90%);
  --white-300: hsl(0, 0%, 80%);
  --white-400: hsl(0, 0%, 65%);
  --white-500: hsl(0, 0%, 50%);
  --red-500: #FF3131;
  --red-100: #FF5757;
  --grey-100: #f5f5f5;
  --grey-200: #f0f0f0;
  --purple-700: hsl(218, 81%, 46%);
  --textcolor-100: #27374d;
  --bodybg-100: #f0f0f0;
  --text-xs: clamp(0.82rem, calc(0.8rem + 0.14vw), 0.9rem);
  --text-sm: clamp(0.91rem, calc(0.88rem + 0.14vw), 1rem);
  --text-md: clamp(1rem, calc(0.97rem + 0.14vw), 1.08rem);
  --text-lg: clamp(1.09rem, calc(1.06rem + 0.14vw), 1.18rem);
  --text-xl: clamp(1.19rem, calc(1.16rem + 0.14vw), 1.27rem);
  --text-xxl: clamp(1.28rem, calc(1.25rem + 0.14vw), 1.38rem);
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
     0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
     0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
     0 4px 6px -2px rgba(0, 0, 0, 0.05);
     
     --shadow-larger: 0 10px 60px -20px rgba(0, 0, 0, 0.3);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 100%;
  box-sizing: inherit;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  font-family: sans-serif;
  font-size: var(--text-md);
  font-weight: normal;
  line-height: 1.5;
  color: var(--textcolor-100);
  background-color: var(--bodybg-100);
}

main {
  overflow: hidden;
}

a,
button {
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  background: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  filter: saturate(140%);
}

.section {
  margin: 0 auto;
  padding: 6rem 0 2rem;
}

.container {
  max-width: 75rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.centered {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 1rem;
}

.text-xs {
  font-size: var(--text-xs);
  line-height: inherit;
}
.text-sm {
  font-size: var(--text-sm);
  line-height: inherit;
}
.text-md {
  font-size: var(--text-md);
  line-height: inherit;
}
.text-lg {
  font-size: var(--text-lg);
  line-height: inherit;
}
.text-xl {
  font-size: var(--text-xl);
  line-height: inherit;
}
.text-xxl {
  font-size: var(--text-xxl);
  line-height: inherit;
}

.font-300 {
  font-weight: 300;
}
.font-400 {
  font-weight: 400;
}
.font-500 {
  font-weight: 500;
}
.font-600 {
  font-weight: 599;
}
.font-700 {
  font-weight: 700;
}
.font-800 {
  font-weight: 800;
}
.font-900 {
  font-weight: 900;
}


.btn {
  display: inline-block;
  font-family: inherit;
  font-size: var(--text-sm);
  font-weight: normal;
  line-height: inherit;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 0.25rem;
  text-transform: unset;
  transition: all 0.3s ease;
}
.btn-inline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}
.btn-primary {
  padding: 0.65rem 1.75rem;
  color: var(--white-100);
  background-color: var(--brown-500);
  box-shadow: var(--shadow-medium);
}
.btn-darken {
  padding: 0.65rem 1.75rem;
  color: var(--white-100);
  background-color: var(--textcolor-100);
  box-shadow: var(--shadow-medium);
}
.btn-neutral {
  padding: 0.65rem 1.75rem;
  color: var(--textcolor-100);
  background-color: var(--white-100);
  box-shadow: var(--shadow-medium);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: transparent;
  
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  margin: 0 auto;
}

.brand {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--textcolor-100);
  text-transform: uppercase;
}

.header.scrolled { background: var(--bodybg-100) !important; transition: background-color 200ms linear;box-shadow: var(--shadow-medium); }

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--white-100);
  box-shadow: var(--shadow-medium);
  transition: all 0.4s ease-in-out;
}
.menu.is-active {
  left: 0;
}
.menu-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.25rem;
  margin-top: 8rem;
}
.menu-link {
  font-family: inherit;
  font-size: var(--text-sm);
  font-weight: 600;
  line-height: 1.5;
  color: var(--black-500);
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.menu-block {
  font-size: 1.5rem;
  text-align: center;
  color: var(--textcolor-100);
}
@media only screen and (min-width: 48rem) {
  .menu {
    position: relative;
    left: 0;
    width: auto;
    height: auto;
    box-shadow: none;
  }
  .menu-inner {
    display: flex;
    flex-direction: row;
    column-gap: 1.75rem;
    margin: 0 auto;
  }
}

.burger {
  position: relative;
  display: block;
  order: -1;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  width: 1.6rem;
  height: 1.15rem;
  rotate: 0deg;
  border: none;
  outline: none;
  visibility: visible;
  background: none;
  transition: 0.35s ease;
}
@media only screen and (min-width: 48rem) {
  .burger {
    display: none;
    visibility: hidden;
  }
}
.burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2.1px;
  opacity: 1;
  rotate: 0deg;
  border: none;
  outline: none;
  border-radius: 1rem;
  background-color: var(--textcolor-100);
  transition: 0.25s ease-in-out;
}
.burger-line:nth-child(1) {
  top: 0px;
}
.burger-line:nth-child(2) {
  top: 0.5rem;
  width: 70%;
}
.burger-line:nth-child(3) {
  top: 1rem;
}
.burger.is-active > .burger-line:nth-child(1) {
  top: 0.5rem;
  rotate: 135deg;
}
.burger.is-active > .burger-line:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
.burger.is-active > .burger-line:nth-child(3) {
  top: 0.5rem;
  rotate: -135deg;
}

.brand img {
    width: 5rem;
        }

.featured-section {
    padding: 6rem 0rem 0.1rem 1.5rem;
    margin: 0 auto;
    max-width: 75rem;
}

.featured-post-container {
  height: 25rem;
  width: 100%;
}

.featured-bg {
    height: 23rem;
    width: 15rem;
    border-radius: 15px;    
    box-shadow: var(--shadow-larger);
    padding: 0;
    white-space: normal;
    display: flex;
    flex-direction: column;
    
   }
   
   .featured-bg-lay {
       box-shadow: var(--shadow-larger);
       margin-top: auto;
       display: block;
       padding: 1.5rem;
       border-radius: 15px;      
       background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(240,240,240,0) 0%, rgba(1,1,1,1) 100%);
   }   
   
   
   .featured-bg-text {
   overflow:hidden;
   text-overflow:ellipsis;
   display:-webkit-box;
   -webkit-line-clamp:3;
   -webkit-box-orient:vertical;
   margin-top: auto;
   font-size: 1rem;
   color: var(--white-100);
   word-spacing: 1px;
   font-weight: 600;
   }
   
   .featured-bg-author {
   text-align: left;
   font-size: 0.7rem;
   font-weight:300;
   margin-top: 0.4rem;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   color: var(--white-100);
      }
      
.featured-bg-author img {
    width: 2rem;
    height: auto;
    border-radius: 50px;
    margin-right: 10px;
}


div.featured-post {
    overflow: auto;
    white-space: nowrap;
}

div.featured-post a {
    display: inline-block;
    margin: 0px 10px 45px 0px;
    vertical-align: middle;
    
}

.page-menu-section {

    padding: 0 1rem 1rem 3rem;
    margin: 0 auto;
    max-width: 60rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

div.page-menu-container {
    overflow: auto;
    white-space: nowrap;
}

div.page-menu-container a {
    display: inline-block;
    margin: 0px 35px 10px 0px;
    vertical-align: middle;
    color: var(--white-500);
    font-weight: 600;    
    
}

div.page-menu-container .active {
    color: var(--black-000);
}

.posts-section {
    max-width: 75rem;
    padding:0 1.5rem 1rem 1.5rem;
    margin: 0 auto;
}

.posts-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.post {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 0.7rem;
    border-radius: 13px;    
    background: var(--white-100);
    box-shadow: var(--shadow-larger);
    margin: 0.6rem 0.2rem;
}

.post-col1 img{
    height: auto
    width: 6rem;
    object-fit: cover;
    border-radius: 8.06px;
}

.post-col1 {
    width: 30%;
    
}

.post-col2 {
    margin-left: 0.8rem;
    width: 70%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    margin-right: auto;
    
    
}


.post-text {
    display:-webkit-box;
   -webkit-line-clamp:2;
   -webkit-box-orient:vertical;
   width: 100%;
   overflow: hidden;
   font-weight: 700;
   color: var(--black-000);
   line-height: 1.2;
}

.post-text a {
    color: var(--black-000);
}

.author-time {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.3rem;
    font-size: 0.8rem;
    width: 100%;
    color: var(--white-400);
}

.author img {
    width: 1.3rem;
    height: auto;
    object-fit: cover;
    border-radius: 50px;
    margin-right: 0.5rem;
   
}

.author {
    display: flex;
    flex-direction: row;
    color: var(--white-500);
   
    margin-right: 0.5rem;
    
    
}

.author a {
    color: var(--white-400);
}

.time {
    vertical-align: middle;
    
}

.time i {
    vertical-align: middle;
    font-size: 0.8rem;    
}

@media screen and (min-width:601px){

    .posts-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
                    }

    .post {
    display: flex;
    flex-direction: row;
    width: 46%;
    text-align: left;
    height: auto;
    padding: 0.6rem;
    border-radius: 13px;    
    background: var(--white-100);
    box-shadow: var(--shadow-larger);
    margin: 0.8rem 0.8rem;
}

.post-col2 {
    margin-right: 4.9vw;
    margin-left: 8px;
    width: 70%;
    margin-top: auto;
    margin-bottom: auto;
    
    text-align: left;
    
    
    
}
}


.footer {
    background: var(--horizone-100);
    color: var(--white-400);
    padding: 2rem;
    margin:0;
}

.copyright {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.8rem;
}

.copyright img {
    height: auto;
    width: 3.2rem;
    margin-left: 0.2rem;
    
}


.post-view-section {
    max-width: 75rem;
    margin: 0 auto;
        }


.post-view {
    height: 27.375rem;
    width:100%;
    display: flex;
    }
    
.post-view-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(240,240,240,0) 0%, rgba(1,1,1,1) 100%);
    padding:0 1.5rem 5rem 1.5rem;
}
    
.post-view img {
    width: 2rem;
    height: auto;
    border-radius: 50px;
}

.post-title {
    padding:0;
    margin: 0;
    text-align:left;
    margin-top: auto;
    font-size: 1.5rem;    
    font-weight: 800;
    word-spacing: -1px;
    line-height: 1;
    color: var(--white-100);
}

.post-author {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 0.8rem;
    color: var(--white-100);
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    font-size: 0.8rem;    
    margin-top: 0.9rem;
}

.post-author i {
    vertical-align: middle;
    font-size: 0.9875rem;
}

.post-body {
    max-width: 75rem;
    margin: 0 auto;
    width: 100%;
    
}

.post-body-container {
    
    background-color: var(--white-100);
    border-radius: 50px;
    margin-top: ;    
    z-index: 90;
    margin-top: -3.2rem;
    position: relative;
    box-shadow: var(--shadow-larger);
}

.post-body-text {
    padding:4rem 1.8rem 2rem 1.8rem;
    text-align: left;
}

.post-related-posts {
    padding:4rem 1.8rem 2rem 1.8rem;
    text-align: left;
    background-color: var(--black-100);
    border-radius: 0px;
    
}


.header-post {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: transparent;
  
}

.navbar-post {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  margin: 0 auto;
}

.brand-post {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--white-200);
  text-transform: uppercase;
}

.menu-post {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
  box-shadow: var(--shadow-medium);
  transition: all 0.4s ease-in-out;
}
.menu-post.is-active {
  left: 0;
}
.menu-inner-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.25rem;
  margin-top: 8rem;
}
.menu-link-post {
  font-family: inherit;
  font-size: var(--text-sm);
  font-weight: 600;
  line-height: 1.5;
  color: var(--white-100);
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.menu-block-post {
  font-size: 1.5rem;
  text-align: center;
  color: var(--white-200);
}
@media only screen and (min-width: 48rem) {
  .menu-post {
    position: relative;
    left: 0;
    width: auto;
    height: auto;
    box-shadow: none;
  }
  .menu-inner-post {
    display: flex;
    flex-direction: row;
    column-gap: 1.75rem;
    margin: 0 auto;
  }
}

.burger-post {
  position: relative;
  display: block;
  order: -1;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  width: 1.6rem;
  height: 1.15rem;
  rotate: 0deg;
  border: none;
  outline: none;
  visibility: visible;
  background: none;
  transition: 0.35s ease;
}
@media only screen and (min-width: 48rem) {
  .burger-post {
    display: none;
    visibility: hidden;
  }
}
.burger-line-post {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2.1px;
  opacity: 1;
  rotate: 0deg;
  border: none;
  outline: none;
  border-radius: 1rem;
  background-color: var(--white-200);
  transition: 0.25s ease-in-out;
}
.burger-line-post:nth-child(1) {
  top: 0px;
}
.burger-line-post:nth-child(2) {
  top: 0.5rem;
  width: 70%;
}
.burger-line-post:nth-child(3) {
  top: 1rem;
}
.burger-post.is-active > .burger-line-post:nth-child(1) {
  top: 0.5rem;
  rotate: 135deg;
  background-color: var(--white-100);
}
.burger-post.is-active > .burger-line-post:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
.burger-post.is-active > .burger-line-post:nth-child(3) {
  top: 0.5rem;
  rotate: -135deg;
  background-color: var(--white-100);
}

.brand-post img {
    width: 6rem;
        }

@media screen and (max-width:48rem){ .featured-bg{-ms-overflow-style:none;
scrollbar-width:none;
} .featured-bg::-webkit-scrollbar{display:none;}
}